<li class="article">
  <h3 class="article-title">{{title}}</h3>
  <img class="article-image" src='{{image}}' alt='{{title}}' />
  <p class="article-text">{{text}}</p>
  <p class="article-author"><span class="article-span">Author: </span>{{author.name}}</p>
  <p class="article-date"><span class="article-span">Date: </span>{{createdAt}}</p>
</li>